[run]
branch = True
parallel = True
source = klein
omit = */klein/test/typing_*.py

[paths]
source=
   src/klein
   .tox/*/lib/py*/site-packages/klein
   .tox/*/Lib/site-packages/klein

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    \s*\.\.\.$
