[run]
branch = True
parallel = True
source = klein

[paths]
source=
   src/klein
   .tox/*/lib/python*/site-packages/klein
   .tox/*/Lib/site-packages/klein
   .tox/pypy*/site-packages/klein

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
