ci:
  skip:
    - check-manifest

repos:

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==21.4.3
          - flake8-docstrings==1.6.0
          - flake8-mutable==1.2.0
          - flake8-pep3101==1.3.0
          - pep8-naming==0.12.0
          - pycodestyle==2.7.0
          - pydocstyle==6.1.1
          - pyflakes==2.3.1

  - repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
    - id: isort
      args: ["--filter-files"]

  - repo: https://github.com/asottile/pyupgrade
    rev: "v2.23.2"
    hooks:
      - id: pyupgrade
        args: ["--py36-plus"]

  - repo: https://github.com/asottile/yesqa
    rev: "v1.2.3"
    hooks:
      - id: yesqa

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: ["--branch", "master"]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.9.0"
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

  - repo: https://github.com/psf/black
    rev: "21.7b0"
    hooks:
      - id: black
        args: ["--target-version", "py36"]

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.46"
    hooks:
      - id: check-manifest

  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
