ci:
  skip:
    - check-manifest

repos:

  - repo: https://github.com/PyCQA/flake8
    rev: "6.0.0"
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==23.3.23
          - flake8-docstrings==1.7.0
          - flake8-mutable==1.2.0
          - flake8-pep3101==2.0.0
          - pep8-naming==0.13.3
          - pycodestyle==2.10.0
          - pydocstyle==6.3.0
          - pyflakes==3.0.1

  - repo: https://github.com/PyCQA/isort
    rev: "5.12.0"
    hooks:
    - id: isort
      args: ["--filter-files"]

  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.3.2"
    hooks:
      - id: pyupgrade
        args: ["--py36-plus"]

  - repo: https://github.com/asottile/yesqa
    rev: "v1.4.0"
    hooks:
      - id: yesqa

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
#     - id: no-commit-to-branch
#       args: ["--branch", "master"]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

  - repo: https://github.com/psf/black
    rev: "23.3.0"
    hooks:
      - id: black
        args: ["--target-version", "py36"]

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.49"
    hooks:
      - id: check-manifest

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.1.1
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
