env:
    - TWISTED=Twisted==12.1
    - TWISTED=Twisted==12.2
    - TWISTED=Twisted==12.3
    - TWISTED=Twisted==13.0
    - TWISTED=Twisted==13.1
    - TWISTED=Twisted==13.2
    - TWISTED=svn+svn://svn.twistedmatrix.com/svn/Twisted/trunk

language: python

python:
    - 2.6
    - 2.7
    - pypy

install:
    - pip install -q $TWISTED
    - python setup.py -q install

script: trial klein && pyflakes klein

notifications:
  email: false

