dist: trusty
sudo: false


language: python


branches:
  only:
    - master


#
# Test test matrix is spelled out explicitly here.
#
# For each supported version of Python, we will test with:
#
#  * The first minor version of Twisted for each major version that supports
#    the tested version of Python, covering two years of releases.
#
#  * The current release of Twisted.
#
#  * Twisted trunk, at the time of the build.
#    This is allowed to fail, as a failure in only this case indicates a likely
#    compatibility bug in Twisted trunk.
#
matrix:
  include:
    - python: 3.5
      env: TOXENV=flake8
    - python: 3.5
      env: TOXENV=mypy
    - python: 2.7
      env: TOXENV=twistedchecker-diff
    - python: 2.7
      env: TOXENV=docs
    - python: 2.7
      env: TOXENV=docs-linkcheck

    # PyPy (Python 2.7)
    - env: TOXENV=coverage-pypy-tw155,codecov     PYPY_VERSION=5.7.1
    - env: TOXENV=coverage-pypy-tw160,codecov     PYPY_VERSION=5.7.1
    - env: TOXENV=coverage-pypy-twcurrent,codecov PYPY_VERSION=5.7.1
    - env: TOXENV=coverage-pypy-twtrunk,codecov   PYPY_VERSION=5.7.1

    - python: 2.7
      env: TOXENV=coverage-py27-tw155,codecov
    - python: 2.7
      env: TOXENV=coverage-py27-tw160,codecov
    - python: 2.7
      env: TOXENV=coverage-py27-twcurrent,codecov
    - python: 2.7
      env: TOXENV=coverage-py27-twtrunk,codecov

    - python: 3.4
      env: TOXENV=coverage-py34-tw155,codecov
    - python: 3.4
      env: TOXENV=coverage-py34-tw160,codecov
    - python: 3.4
      env: TOXENV=coverage-py34-twcurrent,codecov
    - python: 3.4
      env: TOXENV=coverage-py34-twtrunk,codecov

    - python: 3.5
      env: TOXENV=coverage-py35-tw155,codecov
    - python: 3.5
      env: TOXENV=coverage-py35-tw160,codecov
    - python: 3.5
      env: TOXENV=coverage-py35-twcurrent,codecov
    - python: 3.5
      env: TOXENV=coverage-py35-twtrunk,codecov

    - python: 3.6
      env: TOXENV=coverage-py36-tw155,codecov
    - python: 3.6
      env: TOXENV=coverage-py36-tw160,codecov
    - python: 3.6
      env: TOXENV=coverage-py36-twcurrent,codecov
    - python: 3.6
      env: TOXENV=coverage-py36-twtrunk,codecov

  allow_failures:
    # Tests against Twisted trunk are allow to fail, as they are not supported.
    - env: TOXENV=coverage-pypy-twtrunk
    - env: TOXENV=coverage-py27-twtrunk
    - env: TOXENV=coverage-py34-twtrunk
    - env: TOXENV=coverage-py35-twtrunk

    # This is not yet required.
    - env: TOXENV=twistedchecker-diff

    # This depends on external web sites, so it's allowed to fail.
    - env: TOXENV=docs-linkcheck


install:
  - ./.travis/install


script:
  - ./.travis/run tox
