language: python
python: 2.7

env:
    - TOX_ENV=pyflakes
    - TOX_ENV=docs
    - TOX_ENV=py26-twcurrent
    - TOX_ENV=py27-twcurrent
    - TOX_ENV=pypy-twcurrent
    - TOX_ENV=py26-twtrunk
    - TOX_ENV=py27-twtrunk
    - TOX_ENV=py34-twtrunk
    - TOX_ENV=pypy-twtrunk
    - TOX_ENV=py26-tw150
    - TOX_ENV=py27-tw150
    - TOX_ENV=pypy-tw150
    - TOX_ENV=py26-tw140
    - TOX_ENV=py27-tw140
    - TOX_ENV=pypy-tw140
    - TOX_ENV=py26-tw132
    - TOX_ENV=py27-tw132
    - TOX_ENV=pypy-tw132

install:
    - ./.travis/install.sh

script: tox -e $TOX_ENV

notifications:
    email: false
