-e .
git+https://github.com/alex/alchimia.git@ce7ee4d9270eb67d212cac9f507d253f08cbe405#egg=alchimia
attrs==17.4.0
incremental==15.3.0
rethinkdb==2.3.0.post5
scrypt==0.7.1
six==1.10.0
SQLAlchemy==1.0.15
Twisted==16.4.1
Werkzeug==0.11.10
zope.interface==4.2.0
