-e .
git+https://github.com/alex/alchimia.git@ce7ee4d9270eb67d212cac9f507d253f08cbe405#egg=alchimia
attrs==17.4.0
Automat==0.6.0
bcrypt==3.1.4
blessings==1.6.1
bpython==0.17.1
certifi==2018.1.18
cffi==1.11.5
characteristic==14.3.0
chardet==3.0.4
constantly==15.1.0
curtsies==0.3.0
greenlet==0.4.13
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
passlib==1.7.1
pudb==2017.1.4
pycparser==2.18
Pygments==2.2.0
requests==2.18.4
rethinkdb==2.3.0.post6
scrypt==0.8.6
six==1.11.0
SQLAlchemy==1.2.5
Tubes==0.2.0
Twisted==17.9.0
typing==3.6.4
urllib3==1.22
urwid==2.0.1
wcwidth==0.1.7
Werkzeug==0.14.1
zope.interface==4.4.3
