-e .
git+https://github.com/glyph/alchimia@7c6075aacaeddd8a1b0f41c7c3b30f0044af9196#egg=alchimia==0.6.2.dev7
attrs==16.0.0
incremental==15.3.0
rethinkdb==2.3.0.post5
scrypt==0.7.1
six==1.10.0
SQLAlchemy==1.0.15
Twisted==16.4.1
txscrypt==3.0.0
Werkzeug==0.11.10
zope.interface==4.2.0
