include .codecov.yml
include .coveragerc
include .flake8
include .isort.cfg
include .pre-commit-config.yaml
include .readthedocs.yml
include .travis/twistedchecker-diff
include AUTHORS
include CONTRIBUTING.rst
include docs/Makefile
include LICENSE
include mypy.ini
include NEWS.rst
include pyproject.toml
include README.rst
include release.py
include tox.ini
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-exclude docs/_build *
